<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
						http://www.springframework.org/schema/context
          				http://www.springframework.org/schema/context/spring-context-4.2.xsd">



	<context:component-scan base-package="com.zyifly.*.controller">

	</context:component-scan>
	<context:component-scan base-package="com.zyifly.*.interceptor"/>

	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<!-- 映射静态资源 -->
	<!--<mvc:resources location="/images/" mapping="/images/**"/>-->
	<!--
        <mvc:interceptors>
            <mvc:interceptor>
                <mvc:mapping path="/**" />
                <bean id="ResultAspect" class="com.zyifly.common.interceptor.ResultAspect" />
            </mvc:interceptor>
        </mvc:interceptors>
    -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>

        <!-- MVC注解驱动 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="false">
			<bean id="jacksonMessageConverter"
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"
				p:supportedMediaTypes="*/*" />
		</mvc:message-converters>
	</mvc:annotation-driven>


</beans>